name: Docs

on:
  push:
    branches: [ master]
  pull_request:
    branches: [ master]

permissions:
  contents: write

jobs:

  docs-deploy:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV

      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-

      - name: Install mkdocs
        run: pip install mkdocs-material

      - name: deploy docs
        working-directory: ./docs/
        run: mkdocs gh-deploy --force
